click>=7.1.2
easydict==1.10
gitdb==4.0.9
gitpython>=3.1.7
GitPython==3.1.29
huggingface-hub==0.10.1
itsdangerous==1.1.0
jsonlines==3.1.0
Markdown==3.4.1
matplotlib
nltk==3.7
numpy
packaging>=20.4
pydriller==1.15.5
regex==2022.9.13
scipy
sentencepiece==0.1.97
tokenizers==0.13.1
torch==1.12.1
tqdm==4.64.1
transformers==4.24.0
whatthepatch>=1.0.0
